In [19]:
import pandas as pd

In [20]:
EmpMaster = pd.read_csv('./data_sample/raw/EmpMaster.csv')
EmpMaster.head()

   EmployeeID LastName FirstName
0      100001   AACHEN     DAVID
1      100002   AACHEN    MONICA
2      100003   AADAMS   LAMMELL
3      100004    AADIL      IRIS
4      100005   AALAAM      AMIR

In [12]:
EmpMaster.describe()

          EmployeeID
count    1000.000000
mean   100500.500000
std       288.819436
min    100001.000000
25%    100250.750000
50%    100500.500000
75%    100750.250000
max    101000.000000

In [13]:
EmpMaster.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmployeeID  1000 non-null   int64
 1   LastName    1000 non-null   object
 2   FirstName   1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [14]:
EmpMaster.isnull().sum()

EmployeeID    0
LastName      0
FirstName     0
dtype: int64

In [16]:
EmpMaster.duplicated().sum()

np.int64(0)

In [31]:
EmpMaster.columns

Index(['EmployeeID', 'LastName', 'FirstName'], dtype='object')

In [23]:
TitleMaster = pd.read_csv('./data_sample/raw/TitleMaster.csv')
TitleMaster.head()

   TitleCode                TitleDescription
0      40001  *ADM SCHOOL SECURITY MANAGER-U
1      40002       *ADMIN SCHL SECUR MGR-MGL
2      40003                *AGENCY ATTORNEY
3      40004          *ASSISTANT ADVOCATE-PD
4      40005    *ASSOCIATE EDUCATION OFFICER

In [25]:
TitleMaster.describe()

          TitleCode
count   1446.000000
mean   40723.500000
std      417.568557
min    40001.000000
25%    40362.250000
50%    40723.500000
75%    41084.750000
max    41446.000000

In [26]:
TitleMaster.isnull().sum()

TitleCode           0
TitleDescription    1
dtype: int64

In [33]:
EmpMaster.columns

Index(['EmployeeID', 'LastName', 'FirstName'], dtype='object')

In [34]:

TitleMaster.columns

Index(['TitleCode', 'TitleDescription'], dtype='object')

In [35]:
AgencyMaster = pd.read_csv('./data_sample/raw/AgencyMaster.csv')
AgencyMaster.columns

Index(['AgencyID', 'AgencyName'], dtype='object')

In [40]:
nycpayroll_2020 = pd.read_csv('./data_sample/raw/nycpayroll_2020.csv')
nycpayroll_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FiscalYear             100 non-null    int64
 1   PayrollNumber          100 non-null    int64
 2   AgencyID               100 non-null    int64
 3   AgencyName             100 non-null    object
 4   EmployeeID             100 non-null    int64
 5   LastName               100 non-null    object
 6   FirstName              100 non-null    object
 7   AgencyStartDate        100 non-null    object
 8   WorkLocationBorough    100 non-null    object
 9   TitleCode              100 non-null    int64
 10  TitleDescription       100 non-null    object
 11  LeaveStatusasofJune30  100 non-null    object
 12  BaseSalary             100 non-null    float64
 13  PayBasis               100 non-null    object
 14  RegularHours           100 non-null    float64
 15  RegularGrossPaid       100 non-null    float64
 16  OTHours                100 non-null    float64
 17  TotalOTPaid            100 non-null    float64
 18  TotalOtherPay          100 non-null    float64
dtypes: float64(6), int64(5), object(8)
memory usage: 15.0+ KB

In [37]:

nycpayroll_2021 = pd.read_csv('./data_sample/raw/nycpayroll_2021.csv')
nycpayroll_2021.columns

Index(['FiscalYear', 'PayrollNumber', 'AgencyCode', 'AgencyName', 'EmployeeID',
       'LastName', 'FirstName', 'AgencyStartDate', 'WorkLocationBorough',
       'TitleCode', 'TitleDescription', 'LeaveStatusasofJune30', 'BaseSalary',
       'PayBasis', 'RegularHours', 'RegularGrossPaid', 'OTHours',
       'TotalOTPaid', 'TotalOtherPay'],
      dtype='object')