In [1]:
import pandas as pd

In [92]:
import boto3
from dotenv import load_dotenv
import logging

import os
from io import StringIO

from helpers.metrics import start_metrics_server, files_extracted, rows_extracted, rows_transformed, rows_validated, missing_values_detected, rows_staged, fact_table_created, rows_processed, rows_cleaned, data_quality_issues 
from helpers.logging_utils import setup_logging

setup_logging()
load_dotenv(override=True)

start_metrics_server(port=8001)

OSError: [Errno 48] Address already in use

# EXTRACTION STAGE

In [93]:
import os

# File definitions
master_files = ['EmpMaster.csv', 'TitleMaster.csv', 'AgencyMaster.csv']
payroll_files = ['nycpayroll_2020.csv', 'nycpayroll_2021.csv']
master_table_names = ['DimEmployee', 'DimTitle', 'DimAgency']
dim_columns = [
    ['EmployeeID', 'LastName', 'FirstName', 'LeaveStatusasofJune30'],
    ['TitleCode', 'TitleDescription'],
    ['AgencyID', 'AgencyName', 'AgencyStartDate']
]

# AWS and S3 configuration
s3_bucket = os.getenv("s3_bucket")
s3_prefix = os.getenv("s3_prefix")
aws_region = os.getenv("aws_region")
aws_access_key_id = os.getenv("aws_access_key_id")
aws_secret_access_key = os.getenv("aws_secret_access_key")

def initialize_s3_client(aws_region, aws_access_key_id, aws_secret_access_key):
    return boto3.client(
        's3',
        region_name=aws_region,
        aws_access_key_id=aws_access_key_id,
        aws_secret_access_key=aws_secret_access_key
    )

s3_client = initialize_s3_client(aws_region, aws_access_key_id, aws_secret_access_key)


def extract_from_s3(s3_client, s3_bucket, s3_prefix, file_name):
    try:
        logging.info(f"Extracting {file_name} from S3")
        obj = s3_client.get_object(Bucket=s3_bucket, Key=s3_prefix + file_name)
        df = pd.read_csv(StringIO(obj['Body'].read().decode('utf-8')))

        # Update metrics
        files_extracted.inc()  # Increment the count of files extracted

        return df
    except Exception as e:
        logging.error(f"Failed to extract {file_name}: {str(e)}")
        raise
    
def extract_data(file_name):
    return extract_from_s3(s3_client, s3_bucket, s3_prefix, file_name)

In [94]:
df_test = extract_data('EmpMaster.csv')
df_test.head()

2024-08-22 16:01:25,677 - root - INFO - Extracting EmpMaster.csv from S3

   EmployeeID LastName FirstName
0      100001   AACHEN     DAVID
1      100002   AACHEN    MONICA
2      100003   AADAMS   LAMMELL
3      100004    AADIL      IRIS
4      100005   AALAAM      AMIR

# TRANSFORM AND VALIDATE

from helpers.db_utils import read_table
from helpers.alert_utils import send_urgent_email
from helpers.metrics import rows_transformed, rows_validated, missing_values_detected

def validate_and_clean_data(df, dim_col):
    logging.info(f"Validating and cleaning data")

    total_rows = len(df)
    rows_validated.set(total_rows)  # Set the number of rows being validated

    for col in dim_col:
        if col not in df.columns:
            df[col] = None

    # Check for missing values
    missing = df.isnull().sum()
    missing_values_detected.set(missing.sum())  # Set the total number of missing values detected

    missing_percentage = (missing / total_rows) * 100

    # Log changes
    changes_log = []

    # Handling based on missing value percentages
    for col, pct in missing_percentage.items():
        if pct <= 5:
            df.dropna(subset=[col], inplace=True)
            changes_log.append(f"Dropped rows with missing values in {col} as it was <= 5%")
        elif 5 < pct <= 10:
            if df[col].dtype == 'object':  # Replace with 'UNKNOWN' for strings
                df[col].fillna('UNKNOWN', inplace=True)
                changes_log.append(f"Replaced missing string values in {col} with 'UNKNOWN'")
            else:
                mean_value = df[col].mean()
                df[col].fillna(mean_value, inplace=True)
                changes_log.append(f"Replaced missing numeric values in {col} with mean: {mean_value}")
        else:
            logging.error(f"Missing values in {col} exceed 10%. Manual intervention required.")
            send_urgent_email(
                subject=f"Data Quality Issue Detected in {col}",
                body=f"High percentage of missing values in {col}: {pct}%. Immediate attention required.",
                to_email="data.engineer@example.com"
            )
            raise ValueError(f"High percentage of missing values in {col}: {pct}%")

    # Anomaly detection
    for col in df.select_dtypes(include=['number']).columns:
        # Replace negative values
        if (df[col] < 0).any():
            df.loc[df[col] < 0, col] = df[col].mean()
            changes_log.append(f"Replaced negative values in {col} with mean.")

        # Replace values greater than 2 * standard deviation
        upper_bound = df[col].mean() + 2 * df[col].std()
        if (df[col] > upper_bound).any():
            df.loc[df[col] > upper_bound, col] = df[col].mean()
            changes_log.append(f"Replaced outliers in {col} (>{2} * SD) with mean.")

    # Log all changes made to a table or a file
    logging.info("Data Cleaning Summary: " + "; ".join(changes_log))

    df.drop_duplicates(inplace=True)
    rows_transformed.set(len(df))  # Set the number of rows transformed

    return df

def transform_master_data(df, required_columns):
    return validate_and_clean_data(df, required_columns)

def transform_transactional_data(df, engine):
    df = validate_and_clean_data(df, ['EmployeeID', 'AgencyID', 'TitleCode'])

    dim_employee = read_table(engine, 'DimEmployee')
    df = pd.merge(df, dim_employee[['EmployeeID']], on='EmployeeID', how='left')

    dim_agency = read_table(engine, 'DimAgency')
    df = pd.merge(df, dim_agency[['AgencyID']], on='AgencyID', how='left')

    dim_title = read_table(engine, 'DimTitle')
    df = pd.merge(df, dim_title[['TitleCode']], on='TitleCode', how='left')

    return df

# LOADING AND INGESTION STAGE

In [95]:
from helpers.db_utils import redshift_engine
redshift_engine()

2024-08-22 16:01:36,036 - root - INFO - Successfully created Redshift engine.

Engine(redshift+psycopg2://ridwanclouds:***@payroll-workgroup.637423632863.eu-west-2.redshift-serverless.amazonaws.com:5439/payrolldb)

In [96]:
from helpers.db_utils import redshift_engine, stage_data

engine = redshift_engine()

2024-08-22 16:01:45,573 - root - INFO - Successfully created Redshift engine.

In [98]:
import pandas as pd
import logging
from helpers.metrics import rows_validated, missing_values_detected, rows_transformed, data_quality_issues

def validate_and_clean_master_data(df, dim_columns):
    logging.info("Validating and cleaning master data")

    # Record total rows before cleaning
    total_rows = len(df)
    rows_validated.set(total_rows)  # Set the number of rows being validated

    # Ensure only columns in master_columns are present, drop any extra columns
    available_columns = [col for col in dim_columns if col in df.columns]
    df = df[available_columns]

    # Initialize changes log
    changes_log = []

    # Validate and clean specific columns
    for col in df.columns:
        if col in ['EmployeeID', 'TitleCode', 'AgencyID']:
            df[col] = pd.to_numeric(df[col], errors='coerce')
            changes_log.append(f"Converted non-numeric values in {col} to NaN.")
        elif col in ['LastName', 'FirstName']:
            df[col] = df[col].str.title()  # Standardize to title case
            changes_log.append(f"Standardized {col} to title case.")

    # Check for duplicates in key columns
    key_columns = [col for col in ['EmployeeID', 'TitleCode', 'AgencyID'] if col in df.columns]
    for col in key_columns:
        if df[col].duplicated().any():
            duplicated_values = df[col][df[col].duplicated()].tolist()
            logging.error(f"Duplicate values found in {col}: {duplicated_values}")
            data_quality_issues.inc()
            df.drop_duplicates(subset=[col], keep='first', inplace=True)

    # Check for missing values
    missing = df.isnull().sum()
    missing_values_detected.set(missing.sum())  # Set the total number of missing values detected

    # Log all changes made to the master data
    logging.info("Master Data Cleaning Summary: " + "; ".join(changes_log))

    # Record the number of rows after cleaning
    rows_transformed.set(len(df))  # Set the number of rows transformed

    return df


master_columns = ['EmployeeID', 'LastName', 'FirstName', 'TitleCode', 'TitleDescription', 'AgencyID', 'AgencyName']



#df = extract_data('TitleMaster.csv')

# Validate and clean the test DataFrame
#cleaned_df = validate_and_clean_master_data(df, master_columns)
#print("\nCleaned DataFrame:")
#print(cleaned_df)

In [99]:
import pandas as pd
from helpers.alert_utils import send_urgent_email
from helpers.metrics import rows_validated, missing_values_detected, rows_transformed, data_quality_issues

def print_summary_report(df, initial_row_count, changes_log):
    # Calculate current row count
    current_row_count = len(df)

    # Calculate number of duplicates
    num_duplicates = initial_row_count - current_row_count
    
    # Calculate missing values
    missing_values = df.isnull().sum()
    total_missing_values = missing_values.sum()
    
    # Missing values by column
    missing_values_report = missing_values[missing_values > 0]

    # Count of cleaned data actions
    cleaned_actions = [action for action in changes_log if 'Replaced' in action or 'Standardized' in action]

    # Print summary report
    print("Summary Report:")
    print(f"Initial number of rows: {initial_row_count}")
    print(f"Number of rows after cleaning: {current_row_count}")
    print(f"Number of removed duplicates: {num_duplicates}")
    print(f"Total missing values detected: {total_missing_values}")

    if not missing_values_report.empty:
        print("\nMissing values by column:")
        print(missing_values_report)
    else:
        print("No missing values detected.")

    if cleaned_actions:
        print("\nData Cleaning Actions:")
        for action in cleaned_actions:
            print(f" - {action}")
    else:
        print("No specific cleaning actions were performed.")


def harmonize_columns(df):
    # Map variations to a consistent column name
    column_mapping = {
        'AgencyCode': 'AgencyID',  # Harmonize AgencyCode to AgencyID
    }
    
    # Rename columns according to the mapping
    df.rename(columns=column_mapping, inplace=True)
    
    return df

def validate_and_clean_transactional_data(df, transaction_columns):
    logging.info("Validating and cleaning transactional data")
    
    df = harmonize_columns(df)
    
    total_rows = len(df)
    rows_validated.set(total_rows)  # Set the number of rows being validated

    # Ensure all required columns are present and drop any extra columns
    df = df[transaction_columns]

    # Check for missing values
    missing = df.isnull().sum()
    missing_values_detected.set(missing.sum())  # Set the total number of missing values detected

    missing_percentage = (missing / total_rows) * 100

    changes_log = []
    rows_before_cleaning = len(df)

    # Handling missing values based on percentage
    for col, pct in missing_percentage.items():
        if pct <= 5:
            df.dropna(subset=[col], inplace=True)
            changes_log.append(f"Dropped rows with missing values in {col} as it was <= 5%")
        elif 5 < pct <= 10:
            if df[col].dtype == 'object':
                df[col].fillna('UNKNOWN', inplace=True)
                changes_log.append(f"Replaced missing string values in {col} with 'UNKNOWN'")
            else:
                mean_value = df[col].mean()
                df[col].fillna(mean_value, inplace=True)
                changes_log.append(f"Replaced missing numeric values in {col} with mean: {mean_value}")
        else:
            logging.error(f"Missing values in {col} exceed 10%. Manual intervention required.")
            send_urgent_email(
                subject=f"Data Quality Issue Detected in {col}",
                body=f"High percentage of missing values in {col}: {pct}%. Immediate attention required.",
                to_email="data.engineer@example.com"
            )
            data_quality_issues.inc()
            raise ValueError(f"High percentage of missing values in {col}: {pct}%")

    # Handle anomalies for key columns separately
    key_columns = ['EmployeeID', 'TitleCode', 'AgencyID', 'PayrollNumber']
    for col in key_columns:
        if col in df.columns:
            # Convert non-numeric values to NaN for key columns
            df[col] = pd.to_numeric(df[col], errors='coerce')
            changes_log.append(f"Converted non-numeric values in {col} to NaN.")
            # Fill missing values with NaN for key columns
            df[col].fillna(pd.NA, inplace=True)

    # Handle anomalies for measure columns
    measure_columns = ['BaseSalary', 'RegularHours', 'RegularGrossPaid', 'OTHours', 'TotalOTPaid', 'TotalOtherPay']
    for col in measure_columns:
        if col in df.columns:
            # Replace negative values with their positive equivalents
            if (df[col] < 0).any():
                df.loc[df[col] < 0, col] = df[col].abs()
                changes_log.append(f"Replaced negative values in {col} with their positive equivalents.")
            
            # Handle outliers in measure columns
            mean_value = df[col].mean()
            std_dev = df[col].std()
            upper_bound = mean_value + 2 * std_dev
            lower_bound = mean_value - 2 * std_dev

            outliers = (df[col] < lower_bound) | (df[col] > upper_bound)
            if outliers.any():
                df.loc[outliers, col] = mean_value  # Replace outliers with mean
                changes_log.append(f"Replaced outliers in {col} with mean value: {mean_value}")

    # Handle outliers in 'FiscalYear' column
    if 'FiscalYear' in df.columns:
        df['FiscalYear'] = pd.to_numeric(df['FiscalYear'], errors='coerce')
        mean_value = df['FiscalYear'].mean()
        std_dev = df['FiscalYear'].std()
        upper_bound = mean_value + 2 * std_dev
        lower_bound = mean_value - 2 * std_dev

        outliers = (df['FiscalYear'] < lower_bound) | (df['FiscalYear'] > upper_bound)
        if outliers.any():
            most_frequent_year = df['FiscalYear'].mode()[0]  # Get the most frequent year
            df.loc[outliers, 'FiscalYear'] = most_frequent_year
            changes_log.append(f"Replaced outlier FiscalYear values with most frequent year: {most_frequent_year}")

    # Standardize name columns
    if 'FirstName' in df.columns:
        df['FirstName'] = df['FirstName'].str.title()
        changes_log.append("Standardized FirstName to title case.")

    if 'LastName' in df.columns:
        df['LastName'] = df['LastName'].str.title()
        changes_log.append("Standardized LastName to title case.")

    # Standardize categorical columns
    categorical_columns = ['PayBasis', 'WorkLocationBorough']
    for col in categorical_columns:
        if col in df.columns:
            df[col] = df[col].str.upper()
            changes_log.append(f"Standardized {col} to uppercase.")

    # Standardize date columns
    if 'AgencyStartDate' in df.columns:
        df['AgencyStartDate'] = pd.to_datetime(df['AgencyStartDate'], errors='coerce')
        changes_log.append("Standardized AgencyStartDate to datetime format.")

    # Remove duplicate rows based on all columns
    df.drop_duplicates(inplace=True)

    logging.info("Transactional Data Cleaning Summary: " + "; ".join(changes_log))

    rows_transformed.set(len(df))  # Set the number of rows transformed

    return df

transaction_columns = [
    'FiscalYear', 'PayrollNumber', 'AgencyID', 'AgencyName', 'EmployeeID', 'LastName', 'FirstName',
    'AgencyStartDate', 'WorkLocationBorough', 'TitleCode', 'TitleDescription', 'LeaveStatusasofJune30',
    'BaseSalary', 'PayBasis', 'RegularHours', 'RegularGrossPaid', 'OTHours', 'TotalOTPaid', 'TotalOtherPay'
]

#df = extract_data('nycpayroll_2021.csv')

#initial_row_count = len(df)
# changes_log = [] 
#c_df = validate_and_clean_transactional_data(df, transaction_columns)

#print(c_df.head())
#print_summary_report(c_df, initial_row_count, changes_log)

In [114]:
def ensure_columns(df, columns):
    """Ensure the DataFrame has all the required columns, filling missing ones with NaN."""
    for col in columns:
        if col not in df.columns:
            df[col] = pd.NA
    return df[columns]

In [121]:
table_schemas = {
    'dim_employee': ['EmployeeID', 'FirstName', 'LastName', 'LeaveStatusasofJune30'],
    'dim_agency': ['AgencyID', 'AgencyName', 'AgencyStartDate'],
    'dim_title': ['TitleCode', 'TitleDescription'],
    'fact_payroll': ['PayrollID', 'EmployeeID', 'FiscalYear', 'PayrollNumber', 'BaseSalary', 'RegularHours',
                     'RegularGrossPaid', 'OTHours', 'TotalOTPaid', 'TotalOtherPay', 'WorkLocationBorough']
}

dim_columns = [
    ['EmployeeID', 'LastName', 'FirstName', 'LeaveStatusasofJune30'],  # Columns for dim_employee
    ['TitleCode', 'TitleDescription'],  # Columns for dim_title
    ['AgencyID', 'AgencyName', 'AgencyStartDate']  # Columns for dim_agency
]

master_files = ['EmpMaster.csv', 'TitleMaster.csv', 'AgencyMaster.csv']

dim_table_names = ['dim_employee', 'dim_title', 'dim_agency']

In [123]:
from helpers.db_utils import stage_data


def transform_master_data(master_files):
    # Initialize empty DataFrames with the required columns
    dim_employee_df = pd.DataFrame(columns=table_schemas['dim_employee'])
    dim_agency_df = pd.DataFrame(columns=table_schemas['dim_agency'])
    dim_title_df = pd.DataFrame(columns=table_schemas['dim_title'])

    # Define a mapping from file names to dimension table names and their schemas
    file_to_table_map = {
        'EmpMaster.csv': ('dim_employee', table_schemas['dim_employee']),
        'AgencyMaster.csv': ('dim_agency', table_schemas['dim_agency']),
        'TitleMaster.csv': ('dim_title', table_schemas['dim_title'])
    }

    for file_name in master_files:
        table_name, required_columns = file_to_table_map.get(file_name)

        if table_name:
            # Extract data from the file
            df = extract_data(file_name)

            # Validate and clean the master data
            df_cleaned = validate_and_clean_master_data(df, required_columns)

            # Ensure the DataFrame has all required columns
            df_cleaned = ensure_columns(df_cleaned, required_columns)

            # Append data to the appropriate dimension DataFrame
            if table_name == 'dim_employee':
                dim_employee_df = pd.concat([
                    dim_employee_df,
                    df_cleaned.drop_duplicates()
                ], ignore_index=True)

            elif table_name == 'dim_agency':
                dim_agency_df = pd.concat([
                    dim_agency_df,
                    df_cleaned.drop_duplicates()
                ], ignore_index=True)

            elif table_name == 'dim_title':
                dim_title_df = pd.concat([
                    dim_title_df,
                    df_cleaned.drop_duplicates()
                ], ignore_index=True)

    return dim_employee_df, dim_agency_df, dim_title_df
    
transform_master_data(master_files)

2024-08-22 18:12:24,857 - root - INFO - Extracting EmpMaster.csv from S3
2024-08-22 18:12:25,051 - root - INFO - Validating and cleaning master data
2024-08-22 18:12:25,064 - root - INFO - Master Data Cleaning Summary: Converted non-numeric values in EmployeeID to NaN.; Standardized FirstName to title case.; Standardized LastName to title case.
2024-08-22 18:12:25,075 - root - INFO - Extracting TitleMaster.csv from S3
2024-08-22 18:12:25,144 - root - INFO - Validating and cleaning master data
2024-08-22 18:12:25,151 - root - INFO - Master Data Cleaning Summary: Converted non-numeric values in TitleCode to NaN.
2024-08-22 18:12:25,160 - root - INFO - Extracting AgencyMaster.csv from S3
2024-08-22 18:12:25,216 - root - INFO - Validating and cleaning master data
2024-08-22 18:12:25,220 - root - INFO - Master Data Cleaning Summary: Converted non-numeric values in AgencyID to NaN.

(    EmployeeID FirstName LastName LeaveStatusasofJune30
 0       100001     David   Aachen                  <NA>
 1       100002    Monica   Aachen                  <NA>
 2       100003   Lammell   Aadams                  <NA>
 3       100004      Iris    Aadil                  <NA>
 4       100005      Amir   Aalaam                  <NA>
 ..         ...       ...      ...                   ...
 995     100996     Ramon    Abreu                  <NA>
 996     100997    Ramona    Abreu                  <NA>
 997     100998   Raymond    Abreu                  <NA>
 998     100999      Rigo    Abreu                  <NA>
 999     101000      Rita    Abreu                  <NA>

 [1000 rows x 4 columns],
     AgencyID                      AgencyName AgencyStartDate
 0       2001       ADMIN FOR CHILDREN'S SVCS            <NA>
 1       2002       ADMIN TRIALS AND HEARINGS            <NA>
 2       2003             BOARD OF CORRECTION            <NA>
 3       2004               BOARD OF ELECTION            <NA>
 4       2005  BOARD OF ELECTION POLL WORKERS            <NA>
 ..       ...                             ...             ...
 148     2149   STATEN ISLAND COMMUNITY BD #1            <NA>
 149     2150   STATEN ISLAND COMMUNITY BD #2            <NA>
 150     2151                  TAX COMMISSION            <NA>
 151     2152     TAXI & LIMOUSINE COMMISSION            <NA>
 152     2153      TEACHERS RETIREMENT SYSTEM            <NA>

 [153 rows x 3 columns],
      TitleCode                                   TitleDescription
 0        40001                     *ADM SCHOOL SECURITY MANAGER-U
 1        40002                          *ADMIN SCHL SECUR MGR-MGL
 2        40003                                   *AGENCY ATTORNEY
 3        40004                             *ASSISTANT ADVOCATE-PD
 4        40005                       *ASSOCIATE EDUCATION OFFICER
 ...        ...                                                ...
 1441     41442            DIRECTOR OF BUREAU OF CONSUMER SERVICES
 1442     41443  ASSOC ADM FOR PURCHASING MATERIALS MGT & ENVIR...
 1443     41444       PUBLIC HEALTH PREVENTATIVE MEDICINE RESIDENT
 1444     41445                          HOUSING ASSISTANT TRAINEE
 1445     41446                        SENIOR RACKETS INVESTIGATOR

 [1446 rows x 2 columns])

In [122]:

import pandas as pd

def transform_transactional_data(payroll_files):
    # Initialize empty DataFrames for dimensions
    dim_employee_df = pd.DataFrame(columns=table_schemas['dim_employee'])
    dim_agency_df = pd.DataFrame(columns=table_schemas['dim_agency'])
    dim_title_df = pd.DataFrame(columns=table_schemas['dim_title'])
    
    fact_payroll_df = pd.DataFrame(columns=table_schemas['fact_payroll'])

    for file_name in payroll_files:
        # Extract data from the transactional files
        df = extract_from_s3(s3_client, s3_bucket, s3_prefix, file_name)

        # Clean and validate the transactional data
        df_cleaned = validate_and_clean_transactional_data(df, transaction_columns)

        # Update dimension DataFrames
        # For dim_employee
        dim_employee_data = df_cleaned[['EmployeeID', 'FirstName', 'LastName', 'LeaveStatusasofJune30']]
        dim_employee_df = pd.concat([
            dim_employee_df,
            ensure_columns(dim_employee_data, table_schemas['dim_employee']).drop_duplicates()
        ], ignore_index=True)
        
        # For dim_agency
        dim_agency_data = df_cleaned[['AgencyID', 'AgencyName', 'AgencyStartDate']]
        dim_agency_df = pd.concat([
            dim_agency_df,
            ensure_columns(dim_agency_data, table_schemas['dim_agency']).drop_duplicates()
        ], ignore_index=True)
        
        # For dim_title
        dim_title_data = df_cleaned[['TitleCode', 'TitleDescription']]
        dim_title_df = pd.concat([
            dim_title_df,
            ensure_columns(dim_title_data, table_schemas['dim_title']).drop_duplicates()
        ], ignore_index=True)
        
        # Prepare fact_payroll DataFrame
        df_cleaned['PayrollID'] = range(1, len(df_cleaned) + 1)
        fact_payroll_data = df_cleaned[['PayrollID', 'EmployeeID', 'FiscalYear', 'PayrollNumber', 'BaseSalary',
                                        'RegularHours', 'RegularGrossPaid', 'OTHours', 'TotalOTPaid', 'TotalOtherPay',
                                        'WorkLocationBorough']]
        fact_payroll_df = pd.concat([
            fact_payroll_df,
            ensure_columns(fact_payroll_data, table_schemas['fact_payroll']).drop_duplicates()
        ], ignore_index=True)

    # Return the dimension DataFrames and fact DataFrame
    return dim_employee_df, dim_agency_df, dim_title_df, fact_payroll_df

transform_transactional_data(payroll_files)

2024-08-22 17:36:30,601 - root - INFO - Extracting nycpayroll_2020.csv from S3
2024-08-22 17:36:30,808 - root - INFO - Validating and cleaning transactional data
2024-08-22 17:36:30,953 - root - INFO - Transactional Data Cleaning Summary: Dropped rows with missing values in FiscalYear as it was <= 5%; Dropped rows with missing values in PayrollNumber as it was <= 5%; Dropped rows with missing values in AgencyID as it was <= 5%; Dropped rows with missing values in AgencyName as it was <= 5%; Dropped rows with missing values in EmployeeID as it was <= 5%; Dropped rows with missing values in LastName as it was <= 5%; Dropped rows with missing values in FirstName as it was <= 5%; Dropped rows with missing values in AgencyStartDate as it was <= 5%; Dropped rows with missing values in WorkLocationBorough as it was <= 5%; Dropped rows with missing values in TitleCode as it was <= 5%; Dropped rows with missing values in TitleDescription as it was <= 5%; Dropped rows with missing values in LeaveStatusasofJune30 as it was <= 5%; Dropped rows with missing values in BaseSalary as it was <= 5%; Dropped rows with missing values in PayBasis as it was <= 5%; Dropped rows with missing values in RegularHours as it was <= 5%; Dropped rows with missing values in RegularGrossPaid as it was <= 5%; Dropped rows with missing values in OTHours as it was <= 5%; Dropped rows with missing values in TotalOTPaid as it was <= 5%; Dropped rows with missing values in TotalOtherPay as it was <= 5%; Converted non-numeric values in EmployeeID to NaN.; Converted non-numeric values in TitleCode to NaN.; Converted non-numeric values in AgencyID to NaN.; Converted non-numeric values in PayrollNumber to NaN.; Replaced outliers in BaseSalary with mean value: 94344.41990000001; Replaced outliers in RegularGrossPaid with mean value: 61417.81569999999; Replaced outliers in OTHours with mean value: 72.78; Replaced outliers in TotalOTPaid with mean value: 3355.0415000000003; Replaced negative values in TotalOtherPay with their positive equivalents.; Replaced outliers in TotalOtherPay with mean value: 5406.189; Replaced outlier FiscalYear values with most frequent year: 2020; Standardized FirstName to title case.; Standardized LastName to title case.; Standardized PayBasis to uppercase.; Standardized WorkLocationBorough to uppercase.; Standardized AgencyStartDate to datetime format.
2024-08-22 17:36:30,984 - root - INFO - Extracting nycpayroll_2021.csv from S3
2024-08-22 17:36:31,048 - root - INFO - Validating and cleaning transactional data
2024-08-22 17:36:31,165 - root - INFO - Transactional Data Cleaning Summary: Dropped rows with missing values in FiscalYear as it was <= 5%; Dropped rows with missing values in PayrollNumber as it was <= 5%; Dropped rows with missing values in AgencyID as it was <= 5%; Dropped rows with missing values in AgencyName as it was <= 5%; Dropped rows with missing values in EmployeeID as it was <= 5%; Dropped rows with missing values in LastName as it was <= 5%; Dropped rows with missing values in FirstName as it was <= 5%; Dropped rows with missing values in AgencyStartDate as it was <= 5%; Dropped rows with missing values in WorkLocationBorough as it was <= 5%; Dropped rows with missing values in TitleCode as it was <= 5%; Dropped rows with missing values in TitleDescription as it was <= 5%; Dropped rows with missing values in LeaveStatusasofJune30 as it was <= 5%; Dropped rows with missing values in BaseSalary as it was <= 5%; Dropped rows with missing values in PayBasis as it was <= 5%; Dropped rows with missing values in RegularHours as it was <= 5%; Dropped rows with missing values in RegularGrossPaid as it was <= 5%; Dropped rows with missing values in OTHours as it was <= 5%; Dropped rows with missing values in TotalOTPaid as it was <= 5%; Dropped rows with missing values in TotalOtherPay as it was <= 5%; Converted non-numeric values in EmployeeID to NaN.; Converted non-numeric values in TitleCode to NaN.; Converted non-numeric values in AgencyID to NaN.; Converted non-numeric values in PayrollNumber to NaN.; Replaced outliers in BaseSalary with mean value: 108447.15782178221; Replaced outliers in RegularHours with mean value: 1941.4059405940593; Replaced outliers in RegularGrossPaid with mean value: 165771.6408910891; Replaced negative values in OTHours with their positive equivalents.; Replaced outliers in OTHours with mean value: 1017.1178217821783; Replaced negative values in TotalOTPaid with their positive equivalents.; Replaced negative values in TotalOtherPay with their positive equivalents.; Replaced outliers in TotalOtherPay with mean value: 30303.672277227717; Replaced outlier FiscalYear values with most frequent year: 2021; Standardized FirstName to title case.; Standardized LastName to title case.; Standardized PayBasis to uppercase.; Standardized WorkLocationBorough to uppercase.; Standardized AgencyStartDate to datetime format.

(    EmployeeID    FirstName         LastName LeaveStatusasofJune30
 0        10001     Veronica           Geager                ACTIVE
 1       149612     Jonathan            Rotta                ACTIVE
 2       206583       Robert        Wilson Ii                ACTIVE
 3       199874       Moriah       Washington                ACTIVE
 4        58036       Amanda         Krawczyk                ACTIVE
 ..         ...          ...              ...                   ...
 195     164144      Darlene  Massey-Covingto                ACTIVE
 196      52830    Archibald          Harding                ACTIVE
 197     174178       Joseph          Mcgeary                ACTIVE
 198     302174  Christopher            Cheng                ACTIVE
 199     229552       Manuel           Ortega                ACTIVE

 [200 rows x 4 columns],
     AgencyID                      AgencyName AgencyStartDate
 0       2120  OFFICE OF EMERGENCY MANAGEMENT      2016-09-12
 1       2120  OFFICE OF EMERGENCY MANAGEMENT      2013-09-16
 2       2120  OFFICE OF EMERGENCY MANAGEMENT      2018-04-30
 3       2120  OFFICE OF EMERGENCY MANAGEMENT      2019-03-18
 4       2120  OFFICE OF EMERGENCY MANAGEMENT      2017-05-15
 ..       ...                             ...             ...
 179     2017        DEPARTMENT OF CORRECTION      2004-03-04
 180     2141     DEPT OF CITYWIDE ADMIN SVCS      2016-05-31
 181     2012                 FIRE DEPARTMENT      1990-08-19
 182     2010               POLICE DEPARTMENT      1998-06-30
 183     2010               POLICE DEPARTMENT      2018-02-12

 [184 rows x 3 columns],
    TitleCode                              TitleDescription
 0      40447                EMERGENCY PREPAREDNESS MANAGER
 1      40285          COMMISSIONER OF EMERGENCY MANAGEMENT
 2      40448             EMERGENCY PREPAREDNESS SPECIALIST
 3      40291                           COMMUNITY ASSOCIATE
 4      40362                           DEPUTY COMMISSIONER
 5      40088                               AGENCY ATTORNEY
 6      40494                     FIRST DEPUTY COMMISSIONER
 7      40199                                BUDGET ANALYST
 8      40409               DIRECTOR OF MANAGEMENT & BUDGET
 9      40081                  ADMINISTRATIVE STAFF ANALYST
 10     40462                      EXECUTIVE AGENCY COUNSEL
 11     40306                      COMPUTER SYSTEMS MANAGER
 12     40475                            EXECUTIVE DIRECTOR
 13     41143                                         CHAIR
 14     40782                           STATIONARY ENGINEER
 15     40640                                     PRESIDENT
 16     40812                        SUPERVISOR ELECTRICIAN
 17     41011                         CITY MEDICAL EXAMINER
 18     40237                                 CHIEF ACTUARY
 19     40747                    SENIOR STATIONARY ENGINEER
 20     40081                  ADMINISTRATIVE STAFF ANALYST
 21     40809                                    SUPERVISOR
 22     40390                      DIRECTOR OF  INVESTMENTS
 23     40628                                       PLUMBER
 24     40257                       CITY MEDICAL SPECIALIST
 25     40861                                VICE PRESIDENT
 26     40614                                         OILER
 27     40137                      ASSISTANT SUPERINTENDENT
 28     40497                            FIRST DEPUTY MAYOR
 29     40241                            CHIEF FIRE MARSHAL
 30     40222                                     CARPENTER
 31     41125                        GENERAL SUPERINTENDENT
 32     41252                   ASSISTANT DISTRICT ATTORNEY
 33     40304                           COMPUTER SPECIALIST
 34     40092                                       ANALYST
 35     40831                            SUPERVISOR PLUMBER
 36     41149  SUPERVISING DEPUTY SHERIFF - AL 1 ONLY 40 HR
 37     40864  WARDEN-ASSISTANT DEPUTY WARDEN TED < 11/1/92
 38     40824                       SUPERVISOR OF MECHANICS
 39     40207                                       CAPTAIN
 40     40538                            INVESTMENT MANAGER
 41     40642                                     PRINCIPAL
 42     40440                                   ELECTRICIAN
 43     40587                               MARINE ENGINEER
 44     40579             LIEUTENANT D/A SPECIAL ASSIGNMENT,
     PayrollID EmployeeID FiscalYear PayrollNumber  BaseSalary  RegularHours
 0           1      10001       2020            17     86005.0        1820.0  \
 1           2     149612       2020            17     86005.0        1820.0
 2           3     206583       2020            17     86005.0        1820.0
 3           4     199874       2020            17     86005.0        1820.0
 4           5      58036       2020            17     86005.0        1820.0
 ..        ...        ...        ...           ...         ...           ...
 196        97      52830       2021           868       508.8        2080.0
 197        98     174178       2021            57    135511.0        2080.0
 198        99     302174       2021            56    149068.0        2080.0
 199       100     229552       2021            56       508.8        2080.0
 200       101     229552       2021            45       508.8        2080.0

      RegularGrossPaid  OTHours  TotalOTPaid  TotalOtherPay WorkLocationBorough
 0            84698.21     0.00         0.00           0.00            BROOKLYN
 1            84698.21     0.00         0.00           0.00            BROOKLYN
 2            84698.21     0.00         0.00           0.00            BROOKLYN
 3            87900.95     0.00         0.00        3202.74            BROOKLYN
 4            83976.54     0.00         0.00           0.00            BROOKLYN
 ..                ...      ...          ...            ...                 ...
 196         132288.00   901.25     90004.07       36369.10           MANHATTAN
 197         146527.13   833.63     77912.32       34206.86            BROOKLYN
 198         147066.63   950.08     90551.25       20495.26           MANHATTAN
 199         131779.20  1085.25    102184.53       24136.67           MANHATTAN
 200         131779.20  1085.25    102184.53       24136.67           MANHATTAN

 [201 rows x 11 columns])

In [8]:
from helpers.db_utils import redshift_engine, stage_data, create_fact_table
from helpers.metrics import rows_staged,fact_table_created
from sqlalchemy import MetaData, Table, Column, Integer, String
import logging

metadata = MetaData()
engine = redshift_engine()

def load_master_data(df, table_name, engine):
    logging.info(f"Loading master data into {table_name}")
    stage_data(engine, df, table_name)
    rows_staged.set(len(df))

def load_transactional_data(df, engine):
    logging.info(f"Loading transactional data into FactPayroll")
    create_fact_table(engine, engine.metadata)
    fact_table_created.set(1)
    stage_data(engine, df, 'FactPayroll')
    rows_staged.set(len(df))

In [ ]:


def ingest_master_data():


    for file_name, table_name, dim_col in zip(master_files, master_table_names, dim_columns):
        df = extract.extract_from_s3(s3_bucket, s3_prefix, file_name)
        df_transformed = transform.transform_master_data(df, dim_col)
        stage_data(df_transformed, table_name)


def ingest_transactional_data():
    logging.info(f"Ingesting transactional data")
    s3_bucket = 'your-s3-bucket-name'
    s3_prefix = 'your-folder-prefix/'
    payroll_files = ['nycpayroll_2020.csv', 'nycpayroll_2021.csv']

    create_fact_table()

    for file_name in payroll_files:
        df = extract.extract_from_s3(s3_bucket, s3_prefix, file_name)
        df_transformed = transform.transform_transactional_data(df, engine)
        stage_data(df_transformed, 'FactPayroll')